<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Css links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
    <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/05f4ef99a2.js" crossorigin="anonymous"></script>
    
   <!-- jquery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Compiled and minified CSS -->


    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- <link rel="stylesheet" href="css/nav.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet"> -->
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="/css/responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/footer.css">

    <style>
          .list-group-item.active, .list-group-item:hover
          {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #FE980F;
            border:0px;
            color: #FFFFFF;
            cursor: default;
            margin-right:0;
            margin-left:0;
          }

          .words
          {
            color: black;
            line-height: 30px;
            font-size: 20px;
            font-family: 'Nunito', sans-serif;
          }
          .words h3
          {
              padding: 20px;
          }
          .lists
          {
            text-align: left;
            color: black;
          }
          .lists .fa
          {
              color: #FE980F;
          }
          div.transbox1 {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.9;
            padding: 20px;
          }
          div.transbox {
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.7;
            padding: 20px;
          }
          
          div.transbox p {
            margin: 5%;
            font-weight: bold;
            color: #000000;
          }
          .icons
          {
              padding: 12px;
          }
          .icons img
          {
            width: 20%;
            background-color: #FE980F;
          }
          .icon-words
          {
              padding: 12px;
              color: black;
          }

    </style>
    <title>Index</title>
</head>
<body>
    <div>
        <nav class="main-navigation" style="padding: 20px;">
            <div class="navbar-header animated fadeInUp">
                <a class="navbar-brand" href="#">Logo Area</a>
            </div>
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-list-item">
                    <a href="services" class="nav-link">Services</a>
                </li>
                <li class="nav-list-item">
                    <a href="about" class="nav-link">About us</a>
                </li>
                <li class="nav-list-item">
                    <a href="contact" class="nav-link">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>

    <section>   
        <div class="container">
            <div id="carouselExampleSlidesOnly" data-ride="carousel" fade ="true">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row">
                          <div class="col-sm-7">
                            <img src="images/slide01.png" class="d-block w-100" alt="..." width="100%">
                        </div>
                          <div class="col-sm-5" style="padding: 40px;">
                              <div style="padding: 20px; text-align: justify;">
                                <h1 style="color: white; text-align: right;">COMPUTER</h1>
                                <h2 style="color: white; font-weight: bold; text-align: right;">SERVICES & REPAIR</h2>
                                <br>
                                <p style="text-transform: uppercase; color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorum quidem a doloremque debitis vero sunt alias, sit sequi 
                                    nemo unde recusandae asperiores tempore ipsam dolor ducimus incidunt molestiae dolore!</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-7">
                          <img src="images/slide02.png" class="d-block w-100" alt="..." width="100%">
                      </div>
                        <div class="col-sm-5" style="padding: 40px;">
                            <div style="text-align: justify;">
                                <h1 style="color: white; text-align: right;">OFFICE & EQUIPMENT</h1>
                                <h2 style="color: white; font-weight: bold; text-align: right;">SERVICES & SUPPORT</h2>
                                <br>
                                <p style="text-transform: uppercase; color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorum quidem a doloremque debitis vero sunt alias, sit sequi 
                                    nemo unde recusandae asperiores tempore ipsam dolor ducimus incidunt molestiae dolore!</p>
                              </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-7">
                          <img src="images/slide03.png" class="d-block w-100" alt="..." width="100%">
                      </div>
                        <div class="col-sm-5" style="padding: 40px;">
                            <div style="text-align: justify;">
                                <h1 style="color: white; text-align: right;">SMARTPHONE & TABLET REPAIRS</h1>
                                <br>
                                <p style="text-transform: uppercase; color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorum quidem a doloremque debitis vero sunt alias, sit sequi 
                                    nemo unde recusandae asperiores tempore ipsam dolor ducimus incidunt molestiae dolore!</p>
                              </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="transbox">
            <div class="container">
                <br>
                <h2 style="text-align: center;">OUR SERVICES</h2> 
                <div class="row">
                    <hr>
                    <br>
                    <div class="col-lg-3">
                        <ul class="list-group">
                            <li class="list-group-item" style="padding: 20px;"><a href="#camerarepairs" style="color: black; text-decoration: none;" data-toggle="tab">CAMERA REPAIRS</a></li>
                            <li class="list-group-item" style="padding: 20px;"><a href="#laptoprepairs" style="color: black; text-decoration: none;" data-toggle="tab">LAPTOP REPAIRS</a></li>
                            <li class="list-group-item" style="padding: 20px;"><a href="#macrepairs" style="color: black; text-decoration: none;"  data-toggle="tab">MAC REPAIR</a></li>
                            <li class="list-group-item" style="padding: 20px;"><a href="#iphonerepairs" style="color: black; text-decoration: none;"  data-toggle="tab">IPHONE/IPAD REPAIR</a></li>
                            <li class="list-group-item" style="padding: 20px;"><a href="#smartphonerepairs" style="color: black; text-decoration: none;"  data-toggle="tab">SMARTPHONE REPAIRS</a></li>
                            <li class="list-group-item" style="padding: 20px;"><a href="#datarecovery" style="color: black; text-decoration: none;"  data-toggle="tab">DATA RECOVERY</a></li>
                            <li class="list-group-item" style="padding: 20px;"><a href="#softwareupdate" style="color: black; text-decoration: none;"  data-toggle="tab">SOFTWARE UPDATE</a></li>
                          </ul>
                    </div>

                    <div class="col-lg-8">
                        <div class="tab-content">
                        <!-- camera -->
                            <div class="tab-pane  active " id="camerarepairs">
                                <div class="row">
                                    <div class="col-md-5">
                                            <img src="images/pro7.jpg" alt="" width="100%" style="padding: 20px;">
                                    </div>

                                    <div class="col-md-7">
                                        <div class="words">
                                            <h3>CAMERA REPAIRS</h3>
                                            
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus minus est voluptatibus. Numquam odit quis ipsum natus perspiciatis id deleniti
                                               cumque autem cupiditate.</p> 
                                               
                                               <ul class="lists">
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                               </ul>
                                               
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- laptop -->
                            <div class="tab-pane fade in" id="laptoprepairs">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="images/laptop1.webp" alt="" width="100%">
                                    </div>

                                    <div class="col-md-7">
                                        <div class="words">
                                            <h3>LAPTOP REPAIRS</h3>
                                            
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus minus est voluptatibus. Numquam odit quis ipsum natus perspiciatis id deleniti
                                                cumque autem cupiditate.</p> 
                                               
                                               <ul class="lists">
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                               </ul>
                                               
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- mac -->
                            <div class="tab-pane fade in" id="macrepairs">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="images/camera3.webp" alt="" width="100%">
                                    </div>

                                    <div class="col-md-7">
                                        <div class="words">
                                            <h3>MACBOOK REPAIRS</h3>
                                            
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus minus est voluptatibus. Numquam odit quis ipsum natus perspiciatis id deleniti
                                                cumque autem cupiditate.</p> 
                                               
                                               <ul class="lists">
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                               </ul>
                                               
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- iphone -->
                            <div class="tab-pane fade in" id="iphonerepairs">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="images/iphone.jpg" alt="" width="100%">
                                    </div>

                                    <div class="col-md-7">
                                        <div class="words">
                                            <h3>IPHONE REPAIRS</h3>
                                            
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus minus est voluptatibus. Numquam odit quis ipsum natus perspiciatis id deleniti
                                                cumque autem cupiditate.</p> 
                                               
                                               <ul class="lists">
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                               </ul>
                                               
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- smartphone -->
                            <div class="tab-pane fade in" id="smartphonerepairs">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="images/smartphone.jpg" alt="" width="100%">
                                    </div>

                                    <div class="col-md-7">
                                        <div class="words">
                                            <h3>SMARTPHONE REPAIRS</h3>
                                            
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus minus est voluptatibus. Numquam odit quis ipsum natus perspiciatis id deleniti
                                                cumque autem cupiditate.</p> 
                                               
                                               <ul class="lists">
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                               </ul>
                                               
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- data -->
                            <div class="tab-pane fade in" id="datarecovery">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="images/memory.jpg" alt="" width="100%">
                                    </div>

                                    <div class="col-md-7">
                                        <div class="words">
                                            <h3>SMARTPHONE REPAIRS</h3>
                                            
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus minus est voluptatibus. Numquam odit quis ipsum natus perspiciatis id deleniti
                                                cumque autem cupiditate.</p>
                                               
                                               <ul class="lists">
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                               </ul>
                                               
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- software -->
                            <div class="tab-pane fade in" id="softwareupdate">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img src="images/camera3.webp" alt="">
                                    </div>
                                    <div class="col-md-7">
                                        <div class="words">
                                            <h3>SOFTWARE UPDATE</h3>
                                            
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus minus est voluptatibus. Numquam odit quis ipsum natus perspiciatis id deleniti
                                                cumque autem cupiditate.</p>
                                               
                                               <ul class="lists">
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                                   <li><i class="fa fa-check" aria-hidden="true"></i> Repair of all camera formats.</li>
                                               </ul>
                                               
                                            </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div>
            <div class="container">
                <h1 style="color: white; text-align:center;">Here's How We Can Help You </h1>
                <br>
                <div class="row">
                    <div class="col-md-4" style="padding: 4px;">
                        <div class="p-3 border bg-light">
                            <div class="content">
                                <div class="icons">
                                    <img src="images/onsite.gif" alt="">
                                </div>
                                <div class="icon-words">
                                    <h4>On-site Support</h4>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi, cumque error impedit
                                         aperiam incidunt ipsam perferendis necessitatibus deserunt quidem voluptas moles.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 4px;">
                        <div class="p-3 border bg-light">
                            <div class="content">
                                <div class="icons">
                                    <img src="images/customer.gif" alt="">
                                </div>
                                <div class="icon-words">
                                    <h4>Customer Support</h4>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                        Rem excepturi, cumque error impedit aperiam incidunt ipsam perferendis necessitatibus deserunt quidem voluptas moles.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 4px;">
                        <div class="p-3 border bg-light">
                            <div class="icons">
                                <img src="images/fastclock.gif" alt="">
                            </div>
                            <div class="icon-words">
                                <h4>Fast Service</h4>
                                <br>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                    Rem excepturi, cumque error impedit aperiam incidunt ipsam perferendis necessitatibus deserunt quidem voluptas moles.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4" style="padding: 4px;">
                        <div class="p-3 border bg-light">
                            <div class="content">
                                <div class="icons">
                                    <img src="images/piggybank.gif" alt="">
                                </div>
                                <div class="icon-words">
                                    <h4>Cut Costs</h4>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                        Rem excepturi, cumque error impedit aperiam incidunt ipsam perferendis necessitatibus deserunt quidem voluptas moles.</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 4px;">
                        <div class="p-3 border bg-light">
                            <div class="content">
                                <div class="icons">
                                    <img src="images/backup.gif" alt="">
                                </div>
                                <div class="icon-words">
                                    <h4>Have a Back-up Plan</h4>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                        Rem excepturi, cumque error impedit aperiam incidunt ipsam perferendis necessitatibus deserunt quidem voluptas moles.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="padding: 4px;">
                        <div class="p-3 border bg-light">
                            <div class="content">
                                <div class="icons">
                                    <img src="images/workforce.gif" alt="">
                                </div>
                                <div class="icon-words">
                                    <h4>Remote Workforce</h4>
                                    <br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                        Rem excepturi, cumque error impedit aperiam incidunt ipsam perferendis necessitatibus deserunt quidem voluptas moles.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="transbox1">
            <div class="container">
                <h1 style="color: black; text-align:center;">Why Choose Us </h1>
                <br>
                <div class="row">
                    <div class="col-md-5" style="padding: 40px; text-align:center;">
                        <h2>Successfully Providing The best Repair Services for all your Electronis.</h2>
                        <br>
                        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, officiis. Mollitia facilis possimus sit unde dolor fuga? 
                            Adipisci odio culpa reiciendis, error sed maxime quod unde, fuga, distinctio nisi eum.</span>
                    </div>
                    <div class="col-md-7" style="padding: 20px;">
                        <img src="images/grid.png" alt="" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
      <!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank"></a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
    </body>
    </html>